<h3>{{name}}</h3>
{{#unless isExpanded}}
  <span {{action "toggleLinkSection"}}>[ Expand ]</span>
{{/unless}}

{{#if isExpanded}}
  <ul>
    {{#if twitter}}
      <li>
        <a href="http://twitter.com/{{twitter}}" target="_blank">
          @{{twitter}}
        </a>
      </li>
    {{/if}}
    {{#if github}}
      <li>
        <a href="http://github.com/{{twitter}}" target="_blank">
          {{github}}
        </a>
      </li>
    {{/if}}
  </ul>
  <span {{action "toggleLinkSection"}}>[ Collapse ]</span>
{{/if}}
