<h3>{{name}}</h3>
{{#unless isExpanded}}
  <button type="button" {{action "toggleLinkSection"}}>[ Expand ]</button>
{{/unless}}

{{#if isExpanded}}
  <ul>
    {{#if twitter}}
      <li>
        <a href="http://twitter.com/{{twitter}}" target="_blank" rel="noopener">
          @{{twitter}}
        </a>
      </li>
    {{/if}}
    {{#if github}}
      <li>
        <a href="http://github.com/{{twitter}}" target="_blank" rel="noopener">
          {{github}}
        </a>
      </li>
    {{/if}}
  </ul>
  <button type="button" {{action "toggleLinkSection"}}>[ Collapse ]</button>
{{/if}}
