{{outlet}}

<p>
  Contributors
</p>

<ul>
  {{#each this.model as |contributor|}}
    <li>
      <p>
        <img src="{{contributor.avatar_url}}" alt="{{contributor.login}}" width="200" height="200">
      </p>
      <p>
        <a href={{contributor.html_url}} target="_blank">
          {{contributor.login}}
        </a>
      </p>
    </li>
  {{/each}}
</ul>